.center_vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.center-h {
    margin-left: auto;
    margin-right: auto;
}

.fas.fa-heart:hover {
    color: #f44336 !important;
}

.fas.fa-share-alt:hover {
    color: #0d47a1 !important;
}

