.bottom_bar_color{
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #96E6B3, #568259);
}
.body-background{
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #568259, #96E6B3);
}
.menu
{
     -fx-text-fill: White;
}
.buttons{
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #CCFCCB, #96E6B3);
}
.lateral{
    -fx-background-color:linear-gradient(from 20% 20% to 100% 100%, #568259, #CCFCCB);
}
.body-background2{
    -fx-background-color:linear-gradient(from 50% 20% to 80% 80%, #8E9B90, #93C0A4);
}
.buttons2{
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #93C0A4, #8E9B90);
}